.aboutUsWrapers {
  background-color: black;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100px;
  margin-top: 150px;
  align-items: first baseline;
  position: relative;
  bottom: 0px;
}

.aboutUsWrapers h2 {
  color: white;
  padding: 20px;
}

.aboutUsWrapers h2 span {
  color: rgb(255, 85, 0)
}

.developerInfo {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developerInfo p{
  font-size: 20px;
  font-weight: 400;
  /* text-decoration: underline; */
}



.githubIcon {
  filter: invert(1);
  width: 40px;
  height: 40px;
}

.linkedInIcon {
  filter: invert(1);
  width: 40px;
  height: 40px;
}

.bioIconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;

}