@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* #video-player {
  position: relative;
  /* left: 50%;
  transform: translateX(-50%); */
  /* border-style: solid;
  border-width: 10px;
  border-color: rgb(0, 0, 0);
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  margin-top: 0px;
  background-color: black;
  width: 100%;
  height: 500px; 
} */ 
#video-player-wrapper {
  position: relative;
  background: linear-gradient(to bottom, black, #333, #666, #999, #bbb, #ddd, #eee, #f0f0f0, white);
  display: flex;
  justify-content: center;
  align-items: center;
}
#video-player {
  width: 100vw;
  height:500px;
 

}




#video-player::-internal-media-controls-overlay-cast-button {
  display: none;
  
}

.videoSlogan {
  /* -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white; */
  
  /* outline: 5px dotted green; */
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 800;
  min-width: 10px;
  white-space: nowrap;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  
  z-index: 1;
}

@media (max-width: 600px){
  .videoSlogan{
    font-size: 19px;
  }
  #video-player{
    
    height: 300px;
    max-width: 600px;
    width: 90vw;
  }
}
