.links-auth {
  display: flex;
  flex-direction: row;
}

.links-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}


#create-button {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: rgb(255, 85, 0);
  border-color: white;
  width: 100px;
  height: 40px;
  border-style: solid;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

#create-button span{
  font-size: 20px;
  margin-right: 5px;
  font-weight: 700;

}
#create-button:hover {
  background-color: white;
  color: rgb(255, 85, 0);
  border-radius: rgb(255, 85, 0);
  
}


.userIconContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10px;
  /* background-color: white; */
  /* padding: 10px; */
  /* height: 50px;
  width: 50px; */
  /* padding: 5px; */
}

.userIconContainer img {
  border-style: none;
  border-radius: 20px;
}

#navBarSignUp {
  margin-right: 50px;
  color: white;
  background-color: rgb(255, 85, 0);
  border-color: white;
  width: 100px;
  height: 40px;
  border-style: solid;
  border-radius: 10px;
  transition: 0.3s;
}

#navBarSignUp:hover {
  background-color: white;
  color: rgb(255, 85, 0);
  border-color: rgb(255, 85, 0);
}

#navBarLogin {
  margin-right: 20px;
  color: white;
  background-color: rgb(255, 85, 0);
  height: 40px;
  width: 100px;
  border-color: white;
  border-style: solid;
  transition: 0.3s;
  border-radius: 10px;
}

#navBarLogin:hover {
  background-color: white;
  color: rgb(255, 85, 0);
  border-color: rgb(255, 85, 0);
}

.navBarWrapper {
  background-color: blue;
}

.navBarContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: black;
  padding: 30px 50px;
  /* position: absolute; */
  /* z-index: 1; */
  /* left: 50%;
  transform: translateX(-50%); */
}

.navBarContainer h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  transition: .5s;
}

.navBarContainer h1 span {
  color: rgb(255, 85, 0);
  font-size: 50px;
  font-weight: 600;
  z-index: 2;
  transition: .5s;
}

.navBarContainer h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.navBarContainer h1:hover {
  color: rgb(255, 85, 0);
  cursor: pointer;
}

.navBarContainer h1:hover span {
  color: white;
  cursor: pointer;
}