.links-auth {
  display: flex;
  flex-direction: row;
}

.userIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  /* padding: 10px; */
  height: 50px;
  width: 50px;
  padding: 5px;
  border-style: solid;
  border-color: orange;
  border-width: 3px;
  border-radius: 30px;

}

#navBarSignUp {
  margin-right: 50px;
}

#navBarLogin {
  margin-right: 20px;
}


.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: blue;
  padding: 0px 30px;
}

.navBarContainer h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}