.friendsPageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(121, 121, 121, 0.4);
}

.friendsPageContainer {
  flex: 1;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  max-width: 100%;
}

.friendsPageVisibilityButton {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.friendsPageVisibilityButton button {
  background-color: rgb(255, 85, 0);
  color: white;
  height: 40px;
  border-radius: 3px;
  transition: 0.3s;
  border-style: none;
  padding: 10px;
}

.friendsPageVisibilityButton button:hover {
  background-color: white;
  color: rgb(255, 85, 0);
}




