
.eventCreatePage {
  background-color: rgba(153, 153, 153, 0.3);
  min-height: 160vh;
  /* margin-bottom: 170px; */
}
.eventCreateForm {
  border-style: solid;
  min-height: 500px;
  padding: 20px;
  background-color: rgb(244, 244, 244);
  overflow: scroll;
  scrollbar-width: thin;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* margin-bottom: 150px; */
}

#spacer{
  width: 100vw;
  height: 200px;
}

.eventCreateForm p {
  font-family: sans-serif;
  font-weight: 550;
  font-size: 16px;
}

.eventcreatFormPic {
  width: 100%;
  height: 400px;
}

.eventCreateFormWrapper {
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 1000px;
  height: 100%;
  width: 1000px;
}

.errors {
  font-size: small;
  color: red;
}

.eventCreateForm {
  display: flex;
  flex-direction: column;
}

.eventCreateForm label{
  position: flex;
  flex-direction: column;
}

.eventCreateForm label input {
  position: relative;
  width: 100%;
  bottom: 10px;
}

.eventCreateForm label select {
  position: relative;
  width: 100%;
  height: 30px;
  bottom: 10px;
}

.eventCreateForm label textarea {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 200px;
}

#address-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#address-input-wrapper input {
  width: 960px;
}

/* .address-line {
  width: 100%;
} */

.eventCreateCityStateZip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventCreateCityStateZip label input{
  /* margin-right: 50px; */
  width: 300px;
}
.eventCreateCityStateZip label select{
  /* margin-right: 50px; */
  width: 300px;
}

.eventCreateButton {
  margin-top: 20px;
  background-color: rgb(255, 85, 0);
  color: white;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  transition: 0.3s;
}

.eventCreateButton:hover {
  background-color: black;
  color: rgb(255, 85, 0);
}

@media (max-width: 600px){
  .eventCreateForm{
    width: 100vw;
    margin-bottom: 250px;
  }
  .eventCreateFormPic{
    max-width: 600px;
    object-fit: cover;
  }
  .eventCreatePage{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eventCreateCityStateZip{
    flex-direction: column;
  }
  #address-input-wrapper input{
    width: 300px;
  }
}