.userEventsIndexItemContainter {
  padding: 20px;
  min-width: 100%;
}

.userEventsItemWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.userEventItemInfoWrapper {
  color: rgb(0, 0, 0);
  border-style: none;
  border-left: 0px;
  border-width: 4px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

.userEventItemTitle {
  text-align: center;
}

.userEventItemTitle:hover {
  cursor: pointer;
  color: rgb(255,85,0);
}

.userEventsItemPic:hover {
  cursor: pointer;
}

.userEventItemInfo {
  padding: 20px;
}

.userEventsItemEditButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(255, 85, 0);
  border-style: none;
  height: 40px;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
  padding: 10px 10px;
  z-index: 2px;
}

.userEventsItemEditButton:hover {
  background-color: white;
  color: rgb(255, 85, 0); 
}

.userEventsImageContainer {
  position: relative;
  display: inline-block;
  min-width: 400px;

}

.userEventsImageOverlayText {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 50px;
  font-weight: 400;
  transform: translate(-50%, -50%);
  color: black;
  /* font-size: 1.5rem; */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.userEventsImageContainer img:hover {
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s;
}

.userEventsImageContainer:hover .userEventsImageOverlayText {
  opacity: 1;
}